@import "tailwindcss";

/* 🌿 ROOT */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/600.css";

body {
  font-family: "IBM Plex Mono", monospace;
}

/* 🌙 DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 🌍 BASE */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ✨ PREMIUM TEXT */
.premium-text {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;

  background: linear-gradient(
    90deg,
    #2563eb,
    #3b82f6,
    #60a5fa,
    #2563eb
  );
  background-size: 200% auto;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 4s linear infinite;
}


/* 🎬 Gradient animation */
@keyframes gradientMove {
  to {
    background-position: 200% center;
  }
}

/* 🎯 Smooth entry */
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
